* {
    font-family: "Trebuchet MS";
    font-size: 14px;
}

.heading {
    text-align: center;
    color: #900;
}

.formDiv {
    display: table;
    width: 500px;
    margin-top: 20px;
}

.leftColn {
    display: table-cell;
    width: 68px;
    vertical-align: middle;
}

.middleColn {
    display: table-cell;
    width: 10px;
    vertical-align: middle;
}

.rightColn {
    display: table-cell;
    width: auto;
}

.form_border {
    border: 1px solid #ccc;
    width: 555px;
    margin-top: 5%;
    padding: 20px;
}

.btnRow {
    margin-top: 20px;
    width: 100px
}

.selectAll {
    margin-left: 111px;
    margin-bottom: 10px;
}

.listWholeDiv {
    height: 400px;
    overflow-y: scroll;
    margin: 0 100px;
    border: 1px solid #ccc;
}

.listDiv {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.progressDiv {
    width: 300px;
    margin-top: 5px;
    height: 10px;
    display: inline-block;
}

.progress_percent {
    display: inline-block;
    margin-left: 5px;
}

.statusWholeDiv {
    margin: 20px 100px;
    font-weight: bold;
    padding: 20px;
    border: 1px solid #ccc;
    display: none;
}

.statusDiv {
    margin-left: 10px;
}

.loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: url(../images/loading.gif) no-repeat center center;
}